<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->


<div class="container" role="main">
    <div class="nav">
        <button mat-button class="nav_button">HOME</button>
        <button mat-button class="nav_button">INVOICE</button>
        <button mat-button class="nav_button">HISTORY</button>
    </div>
    <div class="form-container">
        <div class="form">
            <div class="form-component">
                <app-customer></app-customer>
            </div>
        </div>

        <!-- <div class="sidebar">
          sfasdf
        </div> -->

        <!-- Footer -->
        <footer>

        </footer>
    </div>
</div>

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <router-outlet></router-outlet>
