* {
    font-family: 'Consolas', Arial, SansSerif;
    font-size: 18px;
}

.container {
/*    display: flex;
    flex-direction: column;*/
    width: 100%;
    height: 100%;
    background-color: #e8ecf1;
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer a {
    display: flex;
    align-items: center;
}
