<form [formGroup]="customerForm" (ngSubmit)="onSubmit(button)" (keydown.enter)="$event.preventDefault()">
    <div class="form-component">
        <div class="form-group" style="width: 100%">
            <h2>Date: {{currDate}}</h2>

            <div class="form-component" style="justify-content: center;">
                <h1>Invoice #</h1>
            </div>

            <hr width="100%" color="#e8ecf1" />
        </div>
    </div>
    
    <div class="form-component">
        <!-- Customer Form -->
        <div class="form-group">
            <app-customer-info formGroupName="customerInfo"></app-customer-info>
        </div>

        <!-- Customer Vehicle Form -->
        <div class="form-group">
            <app-customer-vehicle formGroupName="customerVehicleInfo"></app-customer-vehicle>
        </div>
    </div>

    <div class="form-component" style="margin-top: 50px;">

        <!-- Table Parts Form -->
        <div class="form-group" style="width: 100%">
            <app-customer-parts [resetForm]="resetForm" (sumChange)="addToSum($event)"></app-customer-parts>
        </div>

        <!-- Customer Fee Form -->
        <div class="form-group">
            <customer-fee formGroupName="feesList" (sumChange)="addToCustomerFee($event)"></customer-fee>
        </div>
    </div>

    
    <div class="form-component">
        
    </div>

    <!-- Total Costs -->
    <div class="form-component" style="justify-content: right">
        <div class="form-group">
            <table class="total-table">
                <tr>
                    <td align="right">
                        <b>Total</b>
                    </td>
                    <td align="right">
                        <b>{{refactoredTotal}}</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="justify-content: right; gap: 20px; margin-top: 50px;" class="form-component">
        <button mat-raised-button class="submit_button" type="submit">Save Invoice</button>
        <button mat-raised-button class="submit_button">Save & Print Invoice</button>
    </div>
    <pre>{{customerForm.value | json}}</pre>
</form>